body {
    background-color: rgb(238, 202, 238);
    font-family: sans-serif;
    display: flex;

  }

  .container {
    width: 900px;
    background-color: whitesmoke;
    margin: auto;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  }

  .header {
    display: flex;
    position: sticky;
    top: 0;
    background-color: whitesmoke;
  }

  .heading h1 {
    padding-top: 15px;
    color: rgb(32, 76, 199);
    font-size: 29px;
    ;

  }

  .image1 img {
    width: 90px;
    height: 90px;
    padding: 10px 10px 0px 10px;
  }

  .contact, .cpara  {
    display: flex;
    justify-content: flex-end;
    padding-right: 25px;
    color: red;
    font-size: 17px;
  }

  .contact p a {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: red;
  }

  .contact p a:hover {
    color: green;
  }

  .contact p a:active {
    color: green;
  }

  .image2 img {
    width: 900px;
    height: 200px;
    border-bottom: 4px solid red;
  }

  .sidebar ul li {
    list-style-type: none;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 20px;

  }

  .sidebar ul li a {
    text-decoration: none;
    color: green;
    font-size: 17px;
  }
   .scontact {
    text-align: center;
    color: red;
    font-size: 20px;
   }
  .icons {
    width: 20px;
    height: 20px;
    background-color: rgb(8, 8, 83);
    margin-left: 50px;
    margin-bottom: 10px;
  }

  .sidebar ul li a:hover {
    color: red;
  }

  .sidebar ul li a:active {
    color: yellow;
  }

  .sidebar {
    background-color: rgb(227, 221, 233);
    width: 350px;
    height: 530px;
    margin-right: 5px;
    border: 1px solid rgb(82, 175, 204);

  }

  .sidemain {
    display: flex;
  }

  .main {
    width: 700px;
    height: 510px;
    background-color: rgba(172, 218, 255, 0.6);
    padding: 10px;
    overflow: hidden;
    overflow-y: scroll;
    border: 1px solid rgb(51, 150, 175);
    font-size: 19px;
    line-height: 25px;
    text-align: justify;
  }

  .main h2 {
    color: red;
  }

  .div6 h3 {
    padding-left: 40px;
  }

  .div6 ul li {
    list-style-type: none;
  }

  .forms {
    margin: auto;
    width: 40%;
    margin-bottom: 10px;
    background-color: rgba(235, 124, 157, 0.6);
  }

  .forms h2 {
    padding-top: 10px;
    text-align: center;
    color: green;
  }

  input {
    width: 90%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid gray;
    border-radius: 5px;

  }

  button {
    background-color: red;
    color: white;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px;
    padding-right: 8px;
  }
  button a {
    text-decoration: none;
    color: white;
  }
  button:hover {
    background-color: rgb(252, 65, 96);
  }

  .formbutton {
    text-align: center;
  }

  .buttonnew {
    background-color: rgb(209, 223, 21);
    width: 100px;
    
    margin: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
  }
  .buttonnew a {
    color: white;
    text-decoration: none;
  }
  .buttonnew:hover {
    background-color: greenyellow;
  }
  .buttonnew:active {
    background-color: green;
  }
  .footer {
    background-color: rgb(10, 18, 99);
    color: rgb(131, 126, 126);
    padding: 5px;
    text-align: center;
    border-top: 3px solid rgb(167, 155, 155);
  }

  .footer a {
    text-decoration: none;
    color:rgb(51, 150, 175)
  }

  .footer a:hover {
    color: red;
  }

  .footer a:active {
    color: green;
  }

  @media (max-width: 600px) {
    .contact p {
      font-size: 12px;
      padding-right: 25px;
    }
  }

  @media (max-width: 600px) {
    .sidemain {
      flex-direction: column;

    }
  }

  @media (max-width: 600px) {
    .container {
      width: 100%;
      overflow: hidden;
    }
  }

  @media (max-width: 600px) {
    .heading {
      width: 100%;
    }
  }

  @media (max-width: 600px) {
    .contact {
      width: 100%;
    }
  }

  @media (max-width: 600px) {
    .contact .cpara {
      font-size: 15px;
    }
  }
  @media (max-width: 600px) {
    .image2 img {
      width: 100%;
    }
  }

  @media (max-width: 600px) {
    .icons {
      width: 14%;
      height: 30px;

    }
  }

  @media (max-width: 600px) {
    .sidebar {
      height: 100%;
      width: 100%;
    }
  }

  @media (max-width: 600px) {
    .sidebar ul li a {
      width: 100%;
    }
  }

  @media (max-width: 600px) {
    .main {
      line-height: 25px;
      font-size: 20px;;
      margin-top: 5px;;
      height: 910px;
      width: 95%;
      overflow: hidden;
      overflow-y: scroll;
    }
  }

  @media (max-width: 600px) {
    .forms {
      width: 80%;
    }
  }